{% extends "base.html" %}
{% block content %}
		  <div class="col-md-7">
	  			<div class="row" id ="polls-row">
	  				<div class="col-md-12">
	  					<div class="content-box-large">
	  						<div class="panel panel-default">
			  				<div class="panel-heading">
					            <h2>Theme of the Polls </h2>
					        </div>
					        <div class="panel-body">
				  				<form role="form" id=poll-form>
                                    <div>
                                        <h5><p>A poll is a survey in which people are asked their opinions about something, usually in order to find
                                            out how popular something is or what people intend to do in the future. At least 60 per cent of the
                                            country wants the strikers to win, polls show.</p>

                                       <p>Polling is a method for a group, such as a meeting or an electorate, in order to make a collective
                                        decision or express an opinion, usually following discussions, debates or election campaigns.
                                        Democracies elect holders of high office by voting. Residents of a place represented by an elected
                                        official are called "constituents", and those constituents who cast a ballot for their chosen
                                           candidate are called "voters". There are different systems for collecting votes.</p>

                                        <p>In a democracy, a government is chosen by voting in an election: a way for an electorate to elect,
                                            i.e. choose, among several candidates for rule.In a representative democracy voting is the method
                                            by the which the electorate appoints its representatives in its government. In a direct democracy,
                                            voting is the method by which the electorate directly make decisions, turn bills into laws, etc.
                                            A vote is a formal expression of an individual's choice for or against some motion (for example, a proposed resolution);
                                            for or against some ballot question; or for a certain candidate, selection of candidates, or political party.
                                            Many countries use a secret ballot, a practice to prevent voters from being intimidated and to protect their political privacy.
                                            Voting often takes place at a polling station; it is voluntary in some countries, compulsory in others, such as Australia</p></h5>
                                    </div>
			  					</form>
			  				</div>
			  			</div>
			  			</div>
	  				</div>
	  			</div>
	  		<!--  Page content -->
		  </div>
{% endblock %}